.about-container {
    display: flex;
    margin: 142px 0 20px 0;
    flex-direction: column;
}

.about {
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 55%;
    min-height: 400px;
    background-image: linear-gradient( to right, #EDF4FF, #adcdff);
}

.mtns-lake-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: spin 200s linear infinite;
    width: 100%;
}

.mnt-lake-img-inside {
    animation: spin-right 100s linear infinite;
    width: 75%;
}

.about-video {
    right: 0;
    top: -60px;
    position: absolute;
}

.about-p-background {
    z-index: 2000;
    height: auto;
    width: 100%;
    display: flex;
}

.about-p{
    color: white;
    padding: 60px 20px;
    margin: auto;
    z-index: 200;
    text-shadow: 0.5px 0.5px 50px black;
}

.about-p p, .about-p span {
    margin-bottom: 0;
    line-height: 1;
    font-size: 2.5em;
    text-transform: uppercase;
}

.headshot {
    height: 400px;
    background: url('../assets/selfheadshot.jpg');
    background-size: cover;
    background-position: center center;
    margin-top: 20px;
}

@media (min-width: 540px) {
    .about-p p, .about-p span {
        font-size: 3em;
    }
}

@media (min-width: 768px) {

    .about-container {
        flex-direction: row;
        margin-top: 0;
    }

    .about, .headshot {
        width: 50%;
    }

    .about-p {
        padding: 20px;
    }

    .headshot {
        margin-top: 0;
    }

    .about-video {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        z-index: 1;
    }

}

@media (min-width: 992px) {

    .about-p {
        font-size: 1.35em;
    }

    .about-p-background, .headshot {
        height: 80vh;
        min-height: 400px;
        max-height: 500px;
    }

}

@media (min-width: 1300px) {
    .about-p {
        font-size: 1.5em;
    }
}