.about-container {
    display: flex;
    margin: 130px 0 20px 0;
    flex-direction: column-reverse;
}

.about {
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: url('../assets/foggy-mtns.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.about-video {
    display: none;
}

.about-p-background {
    background: rgba(36,36,36,.2);
    background: rgba(36,36,36,.2);
    z-index: 2000;
    height: auto;
    width: 100%;
    display: flex;
}

.about-p{
    color: white;
    padding: 60px 20px;
    margin: auto;
    z-index: 200;
    text-shadow: 0.5px 0.5px 50px black;
}

.about-p p, .about-p span {
    margin-bottom: 0;
    line-height: 1;
    font-size: 2.5em;
    text-transform: uppercase;
}

.about-p span {
    color: #3498db;
}

.headshot {
    height: 400px;
    background: url('../assets/placeholder2.jpg');
    background-size: cover;
    background-position: center center;
    margin-bottom: 20px;
}

@media (min-width: 540px) {
    .about-p p, .about-p span {
        font-size: 2.5em;
    }
}

@media (min-width: 768px) {

    .about-container {
        flex-direction: row;
        margin-top: 0;
    }

    .about, .headshot {
        width: 50%;
    }

    .about {
        margin-right: 10px;
    }

    .about-p {
        padding: 20px;
    }

    .about-p p, .about-p span {
        font-size: 1.8em;
    }

    .headshot {
        margin-bottom: 0;
        margin-left: 10px;
    }

    .about-video {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        z-index: 1;
    }

}

@media (min-width: 992px) {

    .about-p {
        font-size: 22px;
    }

    .about-p-background, .headshot {
        height: 80vh;
        min-height: 350px;
        max-height: 500px;
    }

    .about-p p, .about-p span {
        font-size: 3em;
    }
}

@media (min-width: 1300px) {
    .about-p p, .about-p span {
        font-size: 3.65em;
    }
}