.hero-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

.mtns-lake-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: spin 200s linear infinite;
    width: 100%;
}

.mnt-lake-img-inside {
    animation: spin-right 100s linear infinite;
    width: 75%;
}

.headshot, .seattle {
    height: 450px;
    background: url('../assets/timelapse-headshot-compressed.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.seattle {
    background: url('../assets/sea1.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
}

@media (min-width: 768px) {

    .hero-container {
        flex-direction: row;
        margin-top: 0;
    }

    .headshot, .seattle{
        width: 50%;
        height: 350px;
    }

    .headshot {
        margin-top: 0;
    }

    .about-video {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        z-index: 1;
    }

}

@media (min-width: 992px) {
    .hero-container {
        margin: auto;
    }

}
