.bio-container {
    background: white;
}

.bio-section {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

.bio-image-div img {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
} 

.bio-post-content {
    margin: 40px auto;
    padding: 0 20px;
}

@media (min-width: 768px) {

    .bio-section {
        grid-template-columns: 1fr 1fr;
        margin-top: 60px;
    }

    .bio-image-div img {
        width: 95%;
        margin-top: 40px;
        margin-right: 10px;
        margin-bottom: 80px;
    } 

    .bio-post-content {
        margin-top: 40px;
        margin-left: 10px;
        padding-left: 0;
    }

}