.contact-section {
    padding: 40px 0;
    text-align: center;
}

form {
    text-align: center;
    margin: 20px;
  }
  
input, textarea {
    display: block;
    margin: auto;
    margin: 7px auto;
    width: 100%;
}

textarea {
    height: 150px;
}

form .submit-button {
    min-width: 8rem;
    border: none;
    background-color: #3498db;
    color: white;
    text-align: center;
    margin: 20px auto 0 auto;
    display: block;
    padding: 7px 10px;
    border-radius: 0px;
    font-size: 19px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    input, textarea {
        width: 45%;
        max-width: 500px;
    }

    .submit-button:hover {
        text-decoration: none;
        background-color: #3579ac;
        box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        transition: .3s;
    }
}