
img {
    width: 100%;
    height: auto;
    margin: 40px auto 80px auto;
    display: inline;
    display: block;
}

.breadcrumbs {
    margin: 160px 0 0 20px;
    text-transform: uppercase;
    display: block;
}

.project-post-content a {
    min-width: 8rem;
    border: none;
    background-color: #e74c3c;
    color: white;
    text-align: center;
    margin: 0 5px;
    display: block;
    padding: 7px 10px;
    border-radius: 0px;
    font-size: 19px;
    text-transform: uppercase;
}

.project-img {
    margin-bottom: 0;
}

.breadcrumbs a {
    font-weight: 200;
}

.project-img-and-title-section {
    margin: 40px 40px 160px 40px;
    text-align: left;
}
.tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dev-icon {
    font-size: 60px;
    padding: 0 5px;
    margin: 5px 0;
}

.project-img-section p {
    display: inline-block;
    margin: auto;
    text-align: center;
}

.project-img-and-title-section a {
    background: red;
    color: white;
    border-radius: 20px;
    display: block;
}

@media (min-width:768px) {

    img {
        width: 70%;
        margin: 40px auto;
    }

    .breadcrumbs {
        margin: 0 20px;
    }

    .project-post-content {
        display: flex;
    }

    .project-img-and-title-section {
        margin: 0 40px;
        width: 40%;
    }
    
    .tech-list {
        justify-content: left;
    }

    .fixed-container {
        width: 40%;
        max-width: 500px;
        position: fixed;
    }

    .project-img {
        margin-top: 0;
        margin-left: 0;
    }

    .project-img-section {
        width: 60%;
    }

    .project-img {
        width: 70%;
    }

.project-post-content a:hover {
        text-decoration: none;
        background-color: #7F2A21;
        color: #E5E5E5;
        box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        transition: .3s;
    }
}