.nav-nav {
    padding: 0 40px;
    transition: .2s;
}

.nav-text {
    font-size: 35px;
    color: #252525;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 400;
}

.nav-h1 {
    font-size: 35px;
    font-weight: 600;
}

.nav-p {
    margin-top: 0;
    padding-top: 12px;
    border-top: solid 7px #252525;
    text-transform: uppercase;
}

.navbar-ul {
    display: flex;
    align-items: center;
}

.navbar-ul-li {
    list-style: none;
    padding: 0 7px;
    font-size: 25px;
}