a {
    color: #000;
}

.navbar {
    display: block;
}

.navbar-nav {
    border: #2c3e50 solid 7px;
    width: 75%;
    border-bottom: none;
}

.link-to {
    padding: 7px;
}

.navigation {
    display: block;
    padding: 20px;
    background: white;
    transition: .2s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
}

.navbar-toggler {
    position: absolute;
    right: 0;
    top: 38px;
    right: 15PX;
    border: none;
    height: 44px;
}

.navbar-toggler-icon {
    fill: black;
    opacity: 1;
    color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 1);
}

.toggle-icon-line {
    height: 5px;
    width: 35px;
    background: #2c3e50;;
    display: block;
    margin: 5px;
    transition:.2s;
}

.collapsed .toggle-line-top {
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
}

.collapsed .toggle-line-middle {
    transform: rotate(45deg);
}

.collapsed .toggle-line-bottom {
    transform: rotate(-45deg);
    position: absolute;
    top: 15px;
}

.navigation-text {
    font-size: 35px;
    color: #252525;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link a {
    color: rgba(0,0,0,1);
}

.navigation-h1 {
    font-size: 25px;
    font-weight: 600;
}

.nav-bottom-div {
    display: flex;
    border-top: solid 7px #2c3e50;
    align-items: center;
    width: 75%;
}

.navigation-p {
    margin-top: 0;
    padding-top: 12px;
    text-transform: uppercase;
    font-size: 13px;
}

.navigation-ul {
    display: flex;
    align-items: center;
}

.navigation-ul-li {
    list-style: none;
    padding: 0 7px;
    font-size: 20px;
}

.mobile-social-icons {
    display: flex;
}

.social-icons-a {
    padding: 0 10px;
}

.desktop-social-icons {
    display: none;
}

@media (min-width: 768px) {

    .navigation{
        position: static;
        box-shadow: none;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-toggler {
        top: 50px;
        right: 30px;
    }

    .mobile-social-icons {
        justify-content: center
    }

    .link-to:hover, a:hover .nav-ul-social {
        color: #3498db;
    }

    .navigation-h1 {
        font-size:35px;
    }

    .nav-bottom-div, .navbar-nav {
        width: 87%;
    }

    .navigation-p {
        font-size: 18px;
    }

    .navigation-h1-span {
        transition: .5s;
    }

    .nav-link-home:hover {
        color: initial;
    }

    .navigation-h1:hover .navigation-h1-span {
        color:#346b95;
    }

}

@media (min-width: 992px) {

    .navbar-nav {
        border: none;
    }

    .navigation-text {
        display: flex;
    }

    .navbar-nav {
        background: transparent;
        width: 100%;
        justify-content: flex-end;
    }

    .navigation-p {
        width: 100%;
    }

    .nav-bottom-div {
        width: 100%
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    /* Override bootstrap height 0 that they inject inline into the DOM */
    .navbar-collapse {
        height: auto !important;
    }

    .link-to {
        padding: 0 0px 5px 10px;
        font-size: 25px; 
        color: #252525;
    }

    .bottom-nav {
        display: flex;
    }

    .mobile-social-icons { 
        display: none;
    }

    .desktop-social-icons {
        display: flex;
    }

    .social-icons-a {
        font-size: 25px;
    }
}
