@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

h1,h2,h3,h4,h5,h6,p,a,input,ul,li,span {
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  border-bottom: solid 7px #2c3e50;
  display: inline-block;
  text-transform: uppercase;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  height: 40px;
}

input, textarea {
  border: darkgray solid thin;
}

a:hover {
  text-decoration: none;
  color: initial;
}

/* Position Footer at Bottom of Page */
body {
  position: relative;
  min-height: 100vh;
}

#root {
  padding-bottom: 10rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
}

@media ( min-width: 768px ) {
  #root {
    padding-bottom: 5rem;
  }

  a:hover {
    color: #3498db;
  }
}


